<template>
  <v-container>
    <p-loader></p-loader>
    <v-navigation-drawer
      persistent
      v-model="drawer"
      temporary
      fixed
      app>
      <v-toolbar flat>
        <v-toolbar-title class="title">
          Illis Soluções
        </v-toolbar-title>
      </v-toolbar>
      <v-divider></v-divider>
      <!--<a class="item animated fadeIn" id="tarefa_duracao" data-tempo="{{$tarefa_corrente['duracao']}}" data-tooltip="Add users to your feed" onclick="stopDuracao()" style="display: none">-->
      <v-list>
        <template v-for="(item, i) in items">
          <v-list-tile v-if="item.title == 'Relatório'" @click="reportTab(false)" :key="i">
            <v-list-tile-action>
              <v-icon v-html="item.icon"></v-icon>
            </v-list-tile-action>
            <!--<a>-->
            <v-list-tile-content>
              <v-list-tile-title v-text="item.title"></v-list-tile-title>
            </v-list-tile-content>
            <!--</a>-->
          </v-list-tile>
          <v-list-tile v-else-if="item.route" :to="'/'+item.route" :key="i" :disabled="!checkPermission(item.route, 'view')">
            <v-list-tile-action>
              <v-icon v-html="item.icon"></v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="item.title"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider v-else-if="item.divider" :key="i"></v-divider>
          <v-subheader v-else-if="item.header" :key="item.header">{{ item.header }}</v-subheader>
        </template>
      </v-list>
    </v-navigation-drawer>

    <p-report :label="id" :dialog="toggle" @close="toggle = false"></p-report>

    <v-navigation-drawer
      v-model="report_navigation"
      temporary
      app>
      <v-toolbar flat>
        <v-toolbar-title class="title">
          Relatórios
        </v-toolbar-title>
      </v-toolbar>
      <v-divider></v-divider>
      <v-list>
        <template v-for="(item, i) in reports">
          <v-list-tile v-if="item.title" :key="i" @click="toggleReport(i-1)">
            <v-list-tile-action>
              <v-icon v-html="item.icon"></v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="item.title"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider v-else-if="item.divider" :key="i"></v-divider>
          <v-subheader v-else-if="item.header" :key="item.header">{{ item.header }}</v-subheader>
        </template>
        <v-list-tile @click="reportTab(true)">
          <v-list-tile-action>
            <v-icon>replay</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title style="color: black; font-family: Arial; font-weight: bold">Voltar</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar app dark color="primary">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-btn flat large to="home" active-class id="brand">{{title}}</v-btn>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <p-stop-watch></p-stop-watch>
      </v-toolbar-items>
      <v-toolbar-items>
        <v-menu
          origin="center center"
          transition="scale-transition"
          bottom
        >
          <v-btn slot="activator" flat>
            {{this.$auth.user().company.id_text}}
            <v-icon dark>arrow_drop_down</v-icon>
          </v-btn>
          <v-list>
            <v-list-tile v-for="(item, i) in companies" :key="i" @click="changeCompany(item.id)">
              <v-list-tile-title>{{ item.id_text }}</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar-items>
      <v-toolbar-items>
        <v-menu origin="center center" transition="scale-transition">
          <v-btn flat slot="activator">
            {{this.$auth.user().id_text}}
            <v-icon dark>arrow_drop_down</v-icon>
          </v-btn>
          <v-list>
            <v-list-tile @click="logout()">
              <v-list-tile-title>Sair</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar-items>
    </v-toolbar>
    <v-card>
      <v-card-text>
        <router-view/>
      </v-card-text>
    </v-card>
    <v-footer app>
      <v-flex xs12 py-3 text-xs-center>
        <span>&copy; {{ new Date().getFullYear() }} - <strong>Illis</strong></span>
      </v-flex>
    </v-footer>
    <v-layout v-if="this.$route.name!=='Message'" class="fab-container" align-center>
      <message></message>
    </v-layout>
  </v-container>
</template>
<style scoped>
  tr td:last-child {
    min-width: 130px;
  }

  .fab-container {
    position: fixed;
    bottom: 16px;
    right: 160px;
    z-index: 4;
  }

  #brand {
    margin: 0;
    height: 100%;
    font-size: 20px;
    text-transform: capitalize;
  }
</style>
<script>
  import PStopWatch from './../shared/PStopWatch'
  import PReport from './../shared/PReport'
  import Message from './../shared/Message'
  import PLoader from './../shared/PLoader'
  import access from '../../mixin/access'

  export default {
    data () {
      return {
        drawer: false,
        report_navigation: false,
        companies: '',
        title: 'Illis',
        toggle: false,
        id: -1,
        access: []
      }
    },
    mixins: [access],
    name: 'App',
    components: {PLoader, PStopWatch, Message, PReport},
    created: function () {
      this.$http.get('api/companies').then(res => {
        this.companies = res.body
      })
      this.$http.get(`api/get_access_user`).then(res => {
        this.access = res.body
        this.access.permissions = JSON.parse(this.access.permissions)
        this.$store.commit('access/change_value', this.access)
      })
    },
    methods: {
      toggleReport: function (id) {
        this.toggle = true
        this.id = id
      },
      changeCompany: function (companyId) {
        this.$http.post('auth/change-company', {'company_id': companyId}).then(res => {
          // volta para a home e da um reload na pagina para atualizar a pessoa
          this.$router.push('home')
          location.reload()
        })
      },
      reportTab: function (returning) {
        if (returning) {
          this.report_navigation = false
          this.drawer = true
        } else {
          this.drawer = false
          this.report_navigation = true
        }
      },
      logout: function () {
        this.$auth.logout({
          makeRequest: true
        })
      }
    },
    computed: {
      items: function () {
        return [
          {header: 'Cadastros'}, {
            icon: this.translate('table.services.icon'),
            title: this.translate('table.services.title')[0],
            route: 'services'
          }, {
            icon: this.translate('table.people.icon'),
            title: this.translate('table.people.title')[0],
            route: 'people'
          }, {
            icon: this.translate('table.teams.icon'),
            title: this.translate('table.teams.title')[0],
            route: 'teams'
          }, {
            icon: this.translate('table.companies.icon'),
            title: this.translate('table.companies.title')[0],
            route: 'companies'
          },
          {divider: true},
          {header: 'Movimentações'},
          // {
          //   icon: this.translate('table.calendar.icon'),
          //   title: this.translate('table.calendar.title')[0],
          //   route: 'calendar'
          // },
          {
            icon: this.translate('table.tasks.icon'),
            title: this.translate('table.tasks.title')[0],
            route: 'tasks'
          }, {
            icon: this.translate('table.tasktemplates.icon'),
            title: this.translate('table.tasktemplates.title')[0],
            route: 'tasktemplates'
          }, {
            icon: this.translate('table.commitments.icon'),
            title: this.translate('table.commitments.title')[0],
            route: 'commitments'
          }, {
            icon: this.translate('table.files.icon'),
            title: this.translate('table.files.title')[0],
            route: 'files'
          }, {
            icon: this.translate('table.accesses.icon'),
            title: this.translate('table.accesses.title')[0],
            route: 'accesses'
          }, {
            icon: this.translate('table.reports.icon'),
            title: this.translate('table.reports.title')[0]
          }
        ]
      },
      reports: function () {
        return [
          {header: 'Tarefa'},
          {icon: this.translate('table.tasks.icon'), title: 'Nome'},
          {icon: this.translate('table.users.icon'), title: 'Responsável'},
          {icon: this.translate('table.people.icon'), title: 'Cliente'},
          {icon: this.translate('table.task_duration.icon'), title: 'Duração'},
          {divider: true}
        ]
      }
    }
  }
</script>
