<template>
    <v-container fluid fill-height class="pa-0"
                 :style="backgroundImage">
        <div class="background-mask">
            <v-layout align-center justify-center fill-height>
                <!--<vue-particles-->
                <!--id="particles-js"-->
                <!--color="#ffffff"-->
                <!--:particleOpacity="0.7"-->
                <!--linesColor="#ffffff"-->
                <!--:particlesNumber="80"-->
                <!--shapeType="circle"-->
                <!--:particleSize="5"-->
                <!--:linesWidth="2"-->
                <!--:lineLinked="true"-->
                <!--:lineOpacity="0.4"-->
                <!--:linesDistance="150"-->
                <!--:moveSpeed="3"-->
                <!--:hoverEffect="true"-->
                <!--hoverMode="grab"-->
                <!--:clickEffect="true"-->
                <!--clickMode="repulse"-->
                <!--&gt;-->
                <!--</vue-particles>-->
                <router-view/>
            </v-layout>
        </div>
    </v-container>
</template>

<script>
  /* eslint-disable template-curly-spacing */
  import Vue from 'vue'
  import VueParticles from 'vue-particles'

  Vue.use(VueParticles)

  export default {
    name: 'out',
    data: function () {
      return {
        backgroundImage: ''
      }
    },
    mounted: function () {
      this.backgroundImage = {
        background: `url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%28${1 + Math.floor(Math.random() * 10)}%29.jpg) no-repeat center center`,
        backgroundSize: 'cover'
      }
    }
  }
</script>

<style scoped>
    #particles-js {
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .background-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;
        left: 0;
        background-image: linear-gradient(270deg, rgba(95, 191, 141, 0.8), rgba(191, 95, 97, 0.2), rgba(75, 151, 205, 0.8));
        background-size: 600% 100%;
        -webkit-animation: bg-pan-left 8s infinite alternate both;
        animation: bg-pan-left 8s infinite alternate both;
    }

    @-webkit-keyframes bg-pan-left {
        0% {
            /*background: rgba(74, 151, 206, 1);*/
            background-position: 100% 50%;
        }
        100% {
            /*background: rgba(95, 191, 141, 1);*/
            background-position: 0% 50%;
        }
    }

    @keyframes bg-pan-left {
        0% {
            /*background: rgba(74, 151, 206, 1);*/
            background-position: 100% 50%;
        }
        100% {
            /*background: rgba(95, 191, 141, 1);*/
            background-position: 0% 50%;
        }
    }

</style>
