<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar
          color="primary"
          :glossy="$q.theme === 'mat'"
          :inverted="$q.theme === 'ios'"
      >
        <q-btn
            flat
            dense
            round
            @click="leftDrawerOpen = !leftDrawerOpen"
            aria-label="Menu"
        >
          <q-icon name="menu"/>
        </q-btn>

        <q-toolbar-title>
          PLUSTUDY
          <div slot="subtitle">Gerenciador de Estudos</div>
        </q-toolbar-title>
        <q-item-side right color="white">
          {{this.$auth.user().name}}
          <q-btn flat round dense icon="more_vert">
            <q-popover>
              <q-list link>
                <q-item>
                  <q-btn flat round dense @click.native="logoutClick">Sair</q-btn>
                </q-item>
              </q-list>
            </q-popover>
          </q-btn>
        </q-item-side>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
        v-model="leftDrawerOpen"
        :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <q-list
          no-border
          link
          inset-delimiter
      >
        <q-list-header>Menu</q-list-header>
        <!--<q-item @click.native="openURL('http://quasar-framework.org')">-->
        <!--<q-item-side icon="school"/>-->
        <!--<q-item-main label="Docs" sublabel="quasar-framework.org"/>-->
        <!--</q-item>-->
        <q-item to="/calendar">
          <q-item-side icon="calendar_today"/>
          <q-item-main label="Calendário" sublabel=""/>
        </q-item>
        <q-item to="/horary">
          <q-item-side icon="date_range"/>
          <q-item-main label="Horário" sublabel=""/>
        </q-item>
        <q-item to="/subject">
          <q-item-side icon="import_contacts"/>
          <q-item-main label="Matérias" sublabel=""/>
        </q-item>
        <q-item to="/group">
          <q-item-side icon="group"/>
          <q-item-main label="Grupo de Estudos" sublabel=""/>
        </q-item>
      </q-list>
    </q-layout-drawer>
    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
  import {openURL} from 'quasar'

  export default {
    name: 'LayoutDefault',
    data() {
      return {
        checkOnlineUpdated: {},
        leftDrawerOpen: this.$q.platform.is.desktop
      }
    },
    created() {
      if (navigator.onLine) {
        if (!this.$auth.user().name) {
          this.$auth.login({
            fetchUser: true,
            data: JSON.parse(localStorage.getItem('user')),
            redirect: '/',
            rememberMe: this.rememberMe
          }).then(response => {
            // this.$auth.watch.data = {}; // user object
            // const token = this.$auth.token()
            this.$auth.token(null, response.data.access_token)
            // localStorage.setItem('default-auth-token', response.data.access_token)
            this.$auth.user(response.data.user)
            this.$router.push('/calendar')
          }, (res) => {
            console.log('Res: ', res)
          })
        }
        this.updateLocalStorage()
      } else {
        let user = localStorage.getItem('user');
        this.$auth.user(JSON.parse(user))
      }
      // this.$axios.get(`subjects`).then((res) => {
      //   let subjects = JSON.stringify(res.data);
      //   localStorage.setItem('subjects', subjects);
      // })
      this.checkOnlineUpdated = setInterval(() => {
        if (navigator.onLine) {
          if ((localStorage.getItem('updateDB') || 0) === '1') {
            let values = {
              'updateItems': localStorage.getItem('updateItems') || '[]'
            }
            this.$axios.post('update_all', values).then((res) => {
              localStorage.setItem('updateItems', '[]')
              localStorage.setItem('updateDB', '0');
            })
          }
        } else {
          localStorage.setItem('updateDB', '1');
        }
      }, 3000)
    },
    destroyed() {
      clearInterval(this.checkOnlineUpdated)
    },
    methods: {
      openURL,
      logoutClick() {
        localStorage.setItem('user', '');

        this.$auth.logout({
          makeRequest: true,
          redirect: '/login'
        })
      },
      updateLocalStorage() {
        this.$axios.get(`subjects`).then((res) => {
          let subjects = JSON.stringify(res.data);
          localStorage.setItem('subjects', subjects);
        })
        this.$axios.get(`horaries_user`).then((res) => {
          let horaries = JSON.stringify(res.data);
          localStorage.setItem('horaries', horaries);
        })
        this.$axios.get(`groups`).then((res) => {
          let groups = JSON.stringify(res.data);
          localStorage.setItem('groups', groups);
        })
      }
    }
  }
</script>

<style>
</style>
