<template>
  <div id="app">
    <div class="row">
      <div class="col-1">
        <div class="items-center">
          <swatches
              v-model="color"
              :colors="colors"
              row-length="4"
              shapes="circles"
              popover-to="right"
              :swatch-style="{ margin: '5px 5px' }"
              show-fallback
          ></swatches>
        </div>
      </div>
      <div class="col-11">
        <q-input v-model="editedItem.name" class="no-margin" float-label="Nome"/>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <q-list highlight inset-separator @click="opened=true">
          <q-item v-for="item in contents" multiline>
            <q-item-side>
              <q-checkbox v-model="item.done" :true-value="1" :false-value="0"/>
            </q-item-side>
            <q-item-main
                :label="item.id_value"
                label-lines="1"
                :sublabel="item.description"
                sublabel-lines="2"
            />
            <q-item-side right>
              <q-item-tile stamp>1 week</q-item-tile>
              <q-item-tile icon="insert_drive_file" color="primary"/>
            </q-item-side>
          </q-item>
        </q-list>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <q-btn label="Salvar" color="blue" @click="save" to="/subjects"/>
      </div>
      <div class="col-auto">
        <q-btn label="Cancelar" color="red" to="/subjects"/>
      </div>
    </div>

    <ps-content :items="contents"></ps-content>
  </div>
</template>

<script>
  import Swatches from 'vue-swatches'
  import PsContent from '../components/PSContent'
  import 'vue-swatches/dist/vue-swatches.min.css'

  export default {
    name: 'app',
    components: {Swatches, PsContent},
    data() {
      return {
        editedItem: {},
        view: 1,
        color: '#F64272',
        colors: 'material-basic',
        checked: false,
        name: '',
        opened: false,
        contents: []
      }
    },
    mounted: function () {
      // this.$http.get('api/content').then(res => {
      //   console.log(res)
      //   this.contents = res.body
      // })
      this.$axios.get('/contents').then((res) => {
        // console.log(res)
        this.contents = res.data
      }).catch(() => {
        this.$q.notify({
          color: 'negative',
          position: 'top',
          message: 'Loading failed',
          icon: 'report_problem'
        })
      })
      //
    },
    methods: {
      save() {
        this.$axios.post('/subjects', this.editedItem).then((res) => {
          // console.log(res)
          this.items.push(res.data)
        }).catch(() => {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem'
          })
        })
      }
    }
  }
</script>

<style>
</style>
