<template>
  <div id="app">
    <!--<div class="q-list">-->
    <!--<div class="q-item q-item-division relative-position q-item-multiline">-->
    <!--&lt;!&ndash;<div class="q-item-side q-item-section q-item-side-left" draggable="true"><i aria-hidden="true" class="q-icon material-icons q-item-icon">edit</i></div>&ndash;&gt;-->
    <!--<div class="q-item-main q-item-section">-->
    <!--<div tabindex="-1" class="q-if row no-wrap items-end relative-position q-chips-input text-primary">&lt;!&ndash;&ndash;&gt;-->
    <!--<div class="q-if-inner col row no-wrap relative-position">&lt;!&ndash;&ndash;&gt; &lt;!&ndash;&ndash;&gt;-->
    <!--<div class="col row items-center group q-input-chips">-->
    <!--&lt;!&ndash;:class="'event'"&ndash;&gt;-->
    <!--&lt;!&ndash;@click.stop="onClickEvent(e)"&ndash;&gt;-->
    <!--<div v-for="value in subjects"-->
    <!--:key="value.id" draggable="true" class="q-chip row no-wrap inline items-center q-chip-small bg-primary text-white" tabindex="-1"-->
    <!--&gt;-->
    <!--<div class="q-chip-main">{{value.title}}</div>-->
    <!--</div>-->
    <!--<input class="col q-input-target justify-start">-->
    <!--</div>  &lt;!&ndash;&ndash;&gt;</div> &lt;!&ndash;&ndash;&gt; <i aria-hidden="true" class="q-icon q-if-control material-icons invisible">send</i></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;<q-datetime&ndash;&gt;-->
    <!--&lt;!&ndash;v-model="end" id="sd" name="ds" type="datetime"&ndash;&gt;-->
    <!--&lt;!&ndash;/>&ndash;&gt;-->
    <q-modal v-model="insert_horary" :content-css="{minWidth: '38vw', minHeight: '38vh'}">
      <modal-insert
          ref="horary_insert"
          @pushEvent="pushEvent"
          @close="close"
      ></modal-insert>
    </q-modal>
    <full-calendar :events="events" :config="config"
                   :header="header"
                   @event-selected="eventClick"
                   @event-drop="eventDrop"
                   @event-resize="eventResize"
                   @event-created="eventCreated"
    ></full-calendar>
  </div>
</template>

<script>
  import ModalInsert from './../components/PSCalendarModalInsert'
  import {Dialog} from 'quasar'
  import {FullCalendar} from 'vue-full-calendar'

  export default {
    name: 'Calendar',
    components: {
      FullCalendar,
      ModalInsert
    },
    data() {
      return {
        entity: 'horaries',
        insert_horary: false,
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        config: {
          locale: 'pt-BR',
          allDaySlot: false,
          height: 'auto'
        },
        events: [],
        items: []
      }
    },
    created() {
      setTimeout(function () {
        document.getElementsByClassName('fc-agendaDay-button')[0].innerText = "Dia";
        document.getElementsByClassName('fc-agendaWeek-button')[0].innerText = "Semana";
        document.getElementsByClassName('fc-month-button')[0].innerText = "Mês";
        document.getElementsByClassName('fc-today-button')[0].innerText = "Hoje";
      }, 100);
      if (navigator.onLine) {
        this.$axios.get(`horaries_user`).then((res) => {
          this.items = res.data
          this.items.map(function (currentValue, index, arr) {
            this.events.push({
              id: currentValue.id,
              title: currentValue.id_value + ':  ' + currentValue.description,
              start: currentValue.begin,
              end: currentValue.end,
              color: currentValue.subject ? currentValue.subject.color : '#295787'
            })
          }, this)
        })
      } else {
        this.items = JSON.parse(localStorage.getItem('horaries'))
        this.items.map(function (currentValue, index, arr) {
          this.events.push({
            id: currentValue.id,
            title: currentValue.id_value + ':  ' + (currentValue.description || ''),
            start: currentValue.begin,
            end: currentValue.end,
            color: currentValue.subject ? currentValue.subject.color : '#295787'
          })
        }, this)
      }
    },
    methods: {
      // Reaload veio do crud
      reloadLocalStorage() {
        localStorage.setItem(this.entity, JSON.stringify(this.items));
      },
      pushEvent(val) {
        let event = {
          id: val.id,
          title: val.id_value + ':  ' + (val.description || ''),
          start: val.begin,
          end: val.end,
          color: val.subject ? val.subject.color : '#295787'
          // allDay: !!res.data.all_day
        }
        this.events.push(event)
        this.items.push(val)
        this.reloadLocalStorage()
      },
      eventClick() {
        console.log('event-click')
      },
      eventDrop(val) {
        console.log('event-drop')
        let resize = {
          begin: val.start.format('YYYY-MM-DD HH:mm'),
          end: val.end.format('YYYY-MM-DD HH:mm')
        }

        Object.assign(this.items.find((res) => {return res.id === val.id}) || {}, resize)
        this.reloadLocalStorage()

        if (navigator.onLine) {
          this.$axios.put(`horaries/` + val.id, resize).then(
            (res) => {
            }
          ).catch(() => {
            this.$q.notify({
              color: 'negative',
              position: 'top',
              message: 'Loading failed',
              icon: 'report_problem'
            })
          })
        }
      },
      eventResize(val) {
        console.log('event-resize')
        let resize = {
          begin: val.start.format('YYYY-MM-DD HH:mm'),
          end: val.end.format('YYYY-MM-DD HH:mm')
        }

        Object.assign(this.items.find((res) => {return res.id === val.id}) || {}, resize)
        this.reloadLocalStorage()

        if (navigator.onLine) {
          this.$axios.put(`horaries/` + val.id, resize).then(
            (res) => {
            }
          ).catch(() => {
            this.$q.notify({
              color: 'negative',
              position: 'top',
              message: 'Loading failed',
              icon: 'report_problem'
            })
          })
        }
      },
      eventCreated(val) {
        console.log('event-created')
        let values = {
          begin: val.start,
          end: val.end,
          all_day: val.allDay
        }
        this.insert_horary = true
        this.$refs.horary_insert.calendarClick(values)
      },
      close() {
        this.insert_horary = false
      }
    }
  }
</script>

<style>
  @import '~fullcalendar/dist/fullcalendar.css';

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
