<template>

  <q-page padding>
    <div v-show="view === 1">
      <h4>Consulta de Grupos de Estudos</h4>
      <div class="row">
        <div class="col-12">
          <q-list highlight inset-separator @click="opened=true">
            <q-item v-for="item in items" multiline>
              <q-item-side inverted>
                <q-btn label="Entrar" size="sm" @click="clickItem(item)"/>
              </q-item-side>
              <q-item-main @click.native="clickItem(item)"
                           :label="item.id_value"
                           label-lines="1"
                           :sublabel="item.description"
                           sublabel-lines="2">

              </q-item-main>
              <q-item-side right>
                <ps-btn-edit-delete :disabled="!verifyNavigation" icon="edit"
                                    @click="editItem(item)"></ps-btn-edit-delete>
                <ps-btn-edit-delete :disabled="!verifyNavigation" icon="delete"
                                    @click="deleteItem(item)"></ps-btn-edit-delete>
              </q-item-side>
            </q-item>
          </q-list>
          <ps-btn-add :disabled="!verifyNavigation" label="Novo grupo de estudos" @click="create"/>
        </div>
      </div>
    </div>
    <div v-if="view === 2 || view === 3">
      <h4 v-if="view === 2">Incluir Grupo de Estudos</h4>
      <h4 v-if="view === 3">Editar Grupo de Estudos</h4>
      <div class="row">
        <div class="col-12">
          <q-input v-model="editedItem.id_value" float-label="Nome"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <!--<q-input v-model="editedItem.themes" class="no-margin" float-label="Nome"/>-->
          <q-chips-input v-model="themes" float-label="Temas" placeholder="Aperte enter para inserir"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <q-select
              multiple
              chips
              float-label="Participantes"
              v-model="editedItem.users_id"
              :options="users"
          />
        </div>
      </div>
      <ps-content v-model="editedItem.contents"></ps-content>
      <div class="row">
        <div class="col-auto">
          <q-btn label="Salvar" color="blue" @click="save"/>
        </div>
        <div class="col-auto">
          <q-btn label="Cancelar" color="red" @click="close"/>
        </div>
      </div>
    </div>
    <div v-if="view === 4">
      <q-toolbar glossy :inverted="$q.theme === 'ios'">
        <q-btn
            flat
            round
            dense
            icon="keyboard_arrow_left"
            @click="exitItem"
        />
        {{editedItem.id_value}}
      </q-toolbar>
      <ps-group-show :item="editedItem"></ps-group-show>
    </div>

  </q-page>
</template>

<script>
  import PsContent from '../components/PSContent'
  import PsGroupShow from './../components/PSGroupShow'
  import crud from './../mixin/crud'
  import PsBtnEditDelete from '../components/shared/PSBtnEditDelete'
  import PsBtnAdd from '../components/shared/PSBtnAdd'

  export default {
    name: 'Group',
    mixins: [crud],
    components: {PsContent, PsGroupShow, PsBtnEditDelete, PsBtnAdd},
    data() {
      return {
        entity: 'groups',
        themes: [],
        users: [],
        opened: false
      }
    },
    created() {
      this.$axios.get(`user`).then((res) => {
        this.users = res.data.filter(elem => {
          return elem.id !== this.$auth.user().id
        }, this).map(opt => ({label: opt.name, value: opt.id}))
      })


      this.initialize()
      this.editedItem = {id_value: '', themes: [], users_id: [this.$auth.user().id]}
      this.defaultItem = {id_value: '', themes: [], users_id: [this.$auth.user().id]}
    },
    methods: {
      afterCreate() {
        this.themes = []
      },
      afterEdit(item) {
        this.editedItem.users_id = item.users.map(opt => (opt.id))
        this.themes = item.themes ? item.themes.split(',') : []
      },
      beforeInsert() {
        if (this.editedItem.id_value === '') {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'O campo "Nome" é obrigatório',
            icon: 'report_problem'
          })
          return false
        }
        let themes = null
        this.themes.map(function (elem, index, array) {
          if (index === 0) {
            themes = elem
          } else {
            themes = themes + ',' + elem
          }
        }, this)
        this.editedItem.themes = themes
        return true
      },
      beforeUpdate() {
        return this.beforeInsert()
      },
      clickItem(item) {
        this.dialog = true
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign(this.editedItem,
          JSON.parse(JSON.stringify(item)))
        this.themes = item.themes ? item.themes.split(',') : []
        this.view = 4
      },
      exitItem() {
        this.dialog = false
        this.view = 1
      }
    },
    computed: {
      verifyNavigation: function () {
        return navigator.onLine
      }
    }
  }
</script>

<style>
</style>
