<template>
  <q-page padding>
    <div v-show="view === 1">
      <h4>Consulta de Horários</h4>
      <div class="row">
        <div class="col-12">
          <q-list highlight inset-separator @click="opened=true">
            <q-item v-for="item in items" multiline>
              <q-item-side inverted>
                <q-icon v-if="item.subject" size="30px" :style="'color:'+item.subject.color || ''"
                        name="import_contacts"/>
                <q-icon v-if="item.group" size="30px" style="color: #295787" name="group"/>
              </q-item-side>
              <q-item-main :label="item.id_value + ': '+ (item.description || '')"
                           label-lines="1"
                           :sublabel="getSublabel(item)"
                           sublabel-lines="3"/>
              <q-item-side right>
                <ps-btn-edit-delete icon="edit" @click="editItem(item)"></ps-btn-edit-delete>
                <ps-btn-edit-delete icon="delete" @click="deleteItem(item)"></ps-btn-edit-delete>
              </q-item-side>
            </q-item>
          </q-list>
          <ps-btn-add label="Novo horário" @click="create"/>
        </div>
      </div>
    </div>
    <div v-if="view !== 1">
      <h4 v-if="view === 2">Incluir Horários</h4>
      <h4 v-if="view === 3">Editar Horários</h4>
      <q-tabs @select="changeTab" align="justify" v-model="tabsModel" glossy>
        <q-tab default slot="title" name="tab-1" icon="import_contacts" label="Matéria"/>
        <q-tab slot="title" name="tab-2" icon="group" label="Grupo de Estudos"/>
      </q-tabs>
      <div class="row">
        <div class="col-12">
          <q-select
              v-if="tabsModel === 'tab-1'"
              float-label="Matérias"
              :value="editedItem.subject_id"
              :options="subjects"
              @change="changeSubject"
          />
          <q-select
              v-else
              float-label="Grupos de Estudo"
              :value="editedItem.group_id"
              @change="changeGroup"
              :options="groups"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <q-input v-model="editedItem.id_value" float-label="Nome"/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-4">
          <q-datetime float-label="Início"
                      :value="editedItem.begin"
                      @change="val => { editedItem.begin = dateFormat(val)}"
                      format="DD/MM/YYYY HH:mm" type="datetime"/>
        </div>
        <div class="col-xs-12 col-lg-4">
          <q-datetime float-label="Fim"
                      :value="editedItem.end"
                      @change="val => { editedItem.end = dateFormat(val)}"
                      format="DD/MM/YYYY HH:mm" type="datetime"/>
        </div>
        <div class="col-xs-12 col-lg-4">
          <q-input float-label="Duração"
                   readonly
                   :value="duration"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <q-input v-model="editedItem.description" float-label="Descrição" type="textarea"/>
        </div>
      </div>
      <ps-content v-model="editedItem.contents"></ps-content>
      <!--<div class="row">-->
      <!--<div class="col-12">-->
      <!--<q-list highlight inset-separator @click="opened=true">-->
      <!--<q-item v-for="item in contents" multiline>-->
      <!--<q-item-side>-->
      <!--<q-checkbox v-model="item.done" :true-value="1" :false-value="0"/>-->
      <!--</q-item-side>-->
      <!--<q-item-main-->
      <!--:label="item.id_value"-->
      <!--label-lines="1"-->
      <!--:sublabel="item.description"-->
      <!--sublabel-lines="2"-->
      <!--/>-->
      <!--<q-item-side right>-->
      <!--<q-item-tile stamp>1 week</q-item-tile>-->
      <!--<q-item-tile icon="insert_drive_file" color="primary"/>-->
      <!--</q-item-side>-->
      <!--</q-item>-->
      <!--</q-list>-->
      <!--</div>-->
      <!--</div>-->
      <div class="row">
        <div class="col-auto">
          <q-btn label="Salvar" color="blue" @click="save"/>
        </div>
        <div class="col-auto">
          <q-btn label="Cancelar" color="red" @click="close"/>
        </div>
      </div>
    </div>
    <!--</div>-->
  </q-page>
</template>

<script>
  import Swatches from 'vue-swatches'
  import PsContent from '../components/PSContent'
  import 'vue-swatches/dist/vue-swatches.min.css'
  import {date} from 'quasar'
  import crud from './../mixin/crud'
  import PsBtnEditDelete from '../components/shared/PSBtnEditDelete'
  import moment from 'moment'
  import momentDurationFormatSetup from 'moment-duration-format'
  import PsBtnAdd from '../components/shared/PSBtnAdd'

  momentDurationFormatSetup(moment)
  export default {
    name: 'Horary',
    mixins: [crud],
    components: {Swatches, PsContent, PsBtnEditDelete, PsBtnAdd},
    data() {
      return {
        tabsModel: 'tab-1',
        entity: 'horaries',
        color: '#F64272',
        colors: 'material-basic',
        checked: false,
        name: '',
        teste: '',
        opened: false,
        // contents: [],
        subjects: [],
        groups: [],
        start: undefined,
        end: undefined
      }
    },
    created: function () {
      this.initialize()
      this.editedItem = {
        begin: moment().format('YYYY-MM-DD HH:mm'),
        end: moment().format('YYYY-MM-DD HH:mm'),
        id_value: '',
        subject_id: null,
        group_id: null
      }
      this.defaultItem = {
        begin: moment().format('YYYY-MM-DD HH:mm'),
        end: moment().format('YYYY-MM-DD HH:mm'),
        id_value: '',
        subject_id: null,
        group_id: null
      }

      // this.$axios.get('/contents').then((res) => {
      //   this.contents = res.data
      // })
      if (navigator.onLine) {
        this.$axios.get('/subjects').then((res) => {
          this.subjects = res.data.map(opt => ({label: opt.id_value, value: opt.id, color: opt.color}))
        })
        this.$axios.get('/groups').then((res) => {
          this.groups = res.data.map(opt => ({label: opt.id_value, value: opt.id, color: opt.color}))
        })
      } else {
        let subjects = JSON.parse(localStorage.getItem('subjects') || '[]')
        let groups = JSON.parse(localStorage.getItem('groups') || '[]')
        this.subjects = subjects.map(opt => ({label: opt.id_value, value: opt.id, color: opt.color}))
        this.groups = groups.map(opt => ({label: opt.id_value, value: opt.id, color: opt.color}))
      }
      // this.subjects = this.contents
      let timeStamp = Date.now()
      let formattedString = date.formatDate(timeStamp, 'YYYY-MM-DD HH:mm:ss')
    },
    methods: {
      initialize() {
        if (navigator.onLine) {
          this.$axios.get(`horaries_user`).then((res) => {
            this.items = res.data
          }).catch(() => {
            this.$q.notify({
              color: 'negative',
              position: 'top',
              message: 'Falha no carregamento',
              icon: 'report_problem'
            })
          })
        } else {
          this.items = JSON.parse(localStorage.getItem(this.entity))
        }
      },
      changeSubject(val) {
        this.editedItem.subject_id = val
        this.editedItem.group_id = null
        let selectedSubject = this.subjects.filter((subject) => {
          return subject.value === val
        })
        this.editedItem.subject = selectedSubject
        this.editedItem.id_value = (selectedSubject.length > 0) ? selectedSubject[0].label : ''
      },
      changeGroup(val) {
        this.editedItem.group_id = val
        this.editedItem.subject_id = null
        let selectedGroup = this.groups.filter((subject) => {
          return subject.value === val
        })
        this.editedItem.group = selectedGroup
        this.editedItem.id_value = (selectedGroup.length > 0) ? selectedGroup[0].label : ''
      },
      changeTab(values) {
        Object.assign(this.editedItem, {id_value: '', description: '', subject_id: '', group_id: ''})
      },
      dateFormat(val) {
        return moment(val).format('YYYY-MM-DD HH:mm')
      },
      getSublabel(item) {
        return moment(item.begin).format('DD/MM/YYYY HH:mm') + ' - ' + moment(item.end).format('DD/MM/YYYY HH:mm') + ' (' + moment.duration(moment(item.end).diff(item.begin)).format('hh [hrs] mm [min]') + ')'
      },
      beforeInsert(val) {
        if ((this.tabsModel === 'tab-1') && (this.editedItem.subject_id === '')) {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'O campo "Matérias" é obrigatório',
            icon: 'report_problem'
          })
          return false
        }
        if ((this.tabsModel === 'tab-2') && (this.editedItem.group_id === '')) {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'O campo "Grupo de Estudo" é obrigatório',
            icon: 'report_problem'
          })
          return false
        }
        if (this.editedItem.id_value === '') {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'O campo "Nome" é obrigatório',
            icon: 'report_problem'
          })
          return false
        }
        if (this.editedItem.begin >= this.editedItem.end) {
          this.$q.notify({
            color: 'orange',
            position: 'top',
            message: 'A data "Fim" deve ser maior que a data "Início"',
            icon: 'report_problem'
          })
          return false
        }
        return true
      }
    },
    computed: {
      duration: function () {
        return moment.duration(moment(this.editedItem.end).diff(this.editedItem.begin)).format('hh [hrs] mm [min]')
      }
    }
  }
</script>

<style>
  .layout-padding h4 {
    margin-top: 0;
  }
</style>
