<template>
  <q-page class="flex flex-center">
    <img src="/statics/quasar-logo.png">

    <!--<img alt="Quasar logo" src="~assets/quasar-logo-full.svg">-->
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex'
}
</script>
