<template>
  <q-page padding>
    <div v-show="view === 1">
      <h4>Consulta de Matérias</h4>
      <div class="row gutter-md">
        <div class="col-12">
          <q-list highlight inset-separator @click="opened=true">
            <q-item v-for="item in items" multiline>
              <q-item-side inverted>
                <q-icon size="30px" :style="'color:'+item.color" name="lens"/>
              </q-item-side>
              <q-item-main :label="item.id_value"
                           label-lines="1"
                           :sublabel="item.description"
                           sublabel-lines="2"/>
              <q-item-side right>
                <ps-btn-edit-delete icon="edit" @click="editItem(item)"></ps-btn-edit-delete>
                <ps-btn-edit-delete icon="delete" @click="deleteItem(item)"></ps-btn-edit-delete>
              </q-item-side>
            </q-item>
          </q-list>
          <ps-btn-add label="Nova matéria" @click="create"/>
        </div>
      </div>
    </div>
    <div v-if="view !== 1">
      <h4 v-if="view === 2">Incluir Matéria</h4>
      <h4 v-if="view === 3">Editar Matéria</h4>
      <div class="row">
        <div class="col-1">
          <div class="items-center">
            <swatches
              v-model="editedItem.color"
              :colors="colors"
              row-length="4"
              shapes="circles"
              popover-to="right"
              :swatch-style="{ margin: '5px 5px' }"
              show-fallback
            ></swatches>
            <q-tooltip> Cor </q-tooltip>
          </div>
        </div>
        <div class="col-11">
          <q-input v-model="editedItem.id_value" class="no-margin" float-label="Nome"/>
        </div>
      </div>
      <ps-content v-model="editedItem.contents"></ps-content>
      <div class="row">
        <div class="col-auto">
          <q-btn label="Salvar" color="blue" @click="save"/>
        </div>
        <div class="col-auto">
          <q-btn label="Cancelar" color="red" @click="close"/>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
  import Swatches from 'vue-swatches'
  import PsContent from '../components/PSContent'
  import 'vue-swatches/dist/vue-swatches.min.css'
  import crud from './../mixin/crud'
  import PsBtnEditDelete from '../components/shared/PSBtnEditDelete'
  import PsBtnAdd from '../components/shared/PSBtnAdd'

  export default {
    name: 'Subject',
    mixins: [crud],
    components: {Swatches, PsContent, PsBtnEditDelete, PsBtnAdd},
    data () {
      return {
        colors: 'material-basic',
        entity: 'subjects',
        checked: false,
        opened: false
      }
    },
    created () {
      this.initialize()

      this.editedItem = {id_value: '', contents: [], color: ''}
      this.defaultItem = {id_value: '', contents: [], color: ''}
    },
    methods: {
      beforeInsert (val){
        if(this.editedItem.id_value === ''){
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'O campo "Nome" é obrigatório',
            icon: 'report_problem'
          })
          return false
        }else{
          return true
        }
      }
    }
  }
</script>

<style>
</style>
