<template>
  <div id="app">

    <div class="q-list">
      <div class="q-item q-item-division relative-position q-item-multiline">
        <!--<div class="q-item-side q-item-section q-item-side-left" draggable="true"><i aria-hidden="true" class="q-icon material-icons q-item-icon">edit</i></div>-->
        <div class="q-item-main q-item-section">
          <div tabindex="-1" class="q-if row no-wrap items-end relative-position q-chips-input text-primary"><!---->
            <div class="q-if-inner col row no-wrap relative-position"><!----> <!---->
              <div class="col row items-center group q-input-chips">
                <!--:class="'event'"-->
                <!--@click.stop="onClickEvent(e)"-->
                <div v-for="value in subjects"
                     :key="value.id" draggable="true" class="q-chip row no-wrap inline items-center q-chip-small bg-primary text-white" tabindex="-1"
                >
                  <div class="q-chip-main">{{value.title}}</div>
                </div>
                <input class="col q-input-target justify-start">
              </div>  <!----></div> <!----> <i aria-hidden="true" class="q-icon q-if-control material-icons invisible">send</i></div>
        </div>
      </div>
    </div>


    <full-calendar :events="events" :config="config"
                   :header="header" @event-selected="teste"
                   @event-drop="teste"
    ></full-calendar>
  </div>
</template>

<script>
  import { FullCalendar } from 'vue-full-calendar'

  export default {
    name: 'app',
    components: {
      FullCalendar
    },
    data () {
      return {
        subjects: [
          {
            title: 'Portugues',
            start: '2018-05-28T12:30:00',
            allDay: false
          },
          {
            title: 'Matematica',
            start: '2018-05-28T12:30:00',
            allDay: false
          }
        ],
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        config: {
          locale: 'pt-BR'
        },
        events: [
          {
            title: 'event1',
            start: '2018-05-28'
          },
          {
            title: 'event2',
            start: '2018-01-05',
            end: '2018-05-07'
          },
          {
            title: 'event3',
            start: '2018-05-28T12:30:00',
            allDay: false
          }
        ]
      }
    },
    methods: {
      teste () {
        alert(12323)
      }
    }
  }
</script>

<style>
  @import '~fullcalendar/dist/fullcalendar.css';

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
