<template>
  <div>

    <!--<table class="q-table q-table-horizontal-separator">-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<th class="text-left sortable">Dessert (100g serving)<i aria-hidden="true"-->
         <!--class="q-icon q-table-sort-icon q-table-sort-icon-left material-icons">arrow_upward</i>coluna 1-->
        <!--</th>-->
        <!--<th class="text-right sortable"><i aria-hidden="true"-->
         <!--class="q-icon q-table-sort-icon q-table-sort-icon-right material-icons">arrow_upward</i>coluna 2-->
        <!--</th>-->
        <!--<th class="text-right sortable"><i aria-hidden="true"-->
         <!--class="q-icon q-table-sort-icon q-table-sort-icon-right material-icons">arrow_upward</i>coluna 3-->
        <!--</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr class="">-->
        <!--<td class="text-left">Frozen Yogurt</td>-->
        <!--<td class="text-right">159</td>-->
        <!--<td class="text-left">testados</td>-->
      <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
    <!--<teste>-->
    <!--</teste>-->
    <calendar-vue
      :time-ground="['09:00', '18:00']"
      :week-ground="['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']"
      :color="[
        '#2B2E4A',
        '#521262',
        '#903749',
        '#53354A',
        '#40514E',
        '#537780',
      ]"
      :task-detail="[
        [
          {
            dateStart: '09:30',
            dateEnd: '10:30',
            title: 'Metting',
            detail: 'Metting (German: Mettingen) is a commune in the Moselle department in Grand Est in north-eastern France.'
          },
          {
            dateStart: '11:30',
            dateEnd: '13:50',
            title: 'Metting',
            detail: 'Metting (German: Mettingen) is a commune in the Moselle department in Grand Est in north-eastern France.'
          },

        ],
        [
          {
            dateStart: '10:30',
            dateEnd: '12:00',
            title: 'Metting',
          },
          {
            dateStart: '12:30',
            dateEnd: '14:50',
            title: 'Metting',
          }

        ],
        [
          {
            dateStart: '12:30',
            dateEnd: '13:30',
            title: 'Metting',
          },
          {
            dateStart: '15:30',
            dateEnd: '16:50',
            title: 'Metting',
          }

        ],
        [
          {
            dateStart: '09:50',
            dateEnd: '10:50',
            title: 'Metting',
          },
          {
            dateStart: '11:30',
            dateEnd: '13:50',
            title: 'Metting',
          }

        ],
        [
          {
            dateStart: '12:30',
            dateEnd: '13:30',
            title: 'Metting',
          },
          {
            dateStart: '14:30',
            dateEnd: '15:50',
            title: 'Metting',
          }

        ]
      ]">

    </calendar-vue>
  </div>
</template>

<script>
  import CalendarVue from './../components/CalendarVue'
  import Teste from './../components/Teste'

  export default {
    name: 'calendar',
    components: {Teste, CalendarVue}
  }
</script>

<style scoped>

</style>