<template>
  <div>
    <q-page class="">
      <q-input float-label="Search" value="123"></q-input>

      <q-btn
        @click="showNotification"
        color="primary"
        label="Show another notification"
      />

      <div class="q-table-container">
        <div class="q-table-top relative-position row items-center">
          <div class="q-table-control">
            <div class="q-table-title">Table Title</div>
          </div>
        </div>
        <div class="q-table-middle scroll">
          <table class="q-table q-table-horizontal-separator">
            <thead>
            <tr>
              <th class="text-left sortable">Dessert (100g serving)<i aria-hidden="true"
                                                                      class="q-icon q-table-sort-icon q-table-sort-icon-left material-icons">arrow_upward</i>
              </th>
              <th class="text-right sortable"><i aria-hidden="true"
                                                 class="q-icon q-table-sort-icon q-table-sort-icon-right material-icons">arrow_upward</i>Calories
              </th>
            </tr>
            </thead>
            <tbody>
            <tr class="">
              <td class="text-left">Frozen Yogurt</td>
              <td class="text-right">159</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="q-table-bottom row items-center justify-end">
          <div class="q-table-control">
            <div></div>
          </div>
          <div class="q-table-separator col"></div>
          <div class="q-table-control"><span class="q-table-bottom-item">Rows per page:</span>
            <div tabindex="0"
                 class="q-if row no-wrap items-end relative-position q-select inline q-table-bottom-item q-if-focusable q-if-hide-underline text-grey-8">
              <!---->
              <div class="q-if-inner col row no-wrap relative-position"><!----> <!---->
                <div class="col q-input-target ellipsis justify-start"> 5</div> <!---->   <!----></div> <!----> <i
              aria-hidden="true" class="q-icon q-if-control material-icons">arrow_drop_down</i></div>
          </div>
          <div class="q-table-control"><span class="q-table-bottom-item">1-5 of 10</span>
            <button tabindex="-1"
                    class="q-btn inline relative-position q-btn-item non-selectable q-btn-round q-btn-flat disabled text-grey-8 q-btn-dense">
              <div class="q-focus-helper"></div>
              <div class="q-btn-inner row col items-center justify-center"><i aria-hidden="true"
                                                                              class="q-icon material-icons">chevron_left</i>
              </div>
            </button>
            <button tabindex="0"
                    class="q-btn inline relative-position q-btn-item non-selectable q-btn-round q-btn-flat q-focusable q-hoverable text-grey-8 q-btn-dense">
              <div class="q-focus-helper"></div>
              <div class="q-btn-inner row col items-center justify-center"><i aria-hidden="true"
                                                                              class="q-icon material-icons">chevron_right</i>
              </div>
            </button>
          </div>
        </div>
      </div>
    </q-page>
  </div>
</template>

<script>
  export default {
    methods: {
      showNotification () {
        this.$q.notify('Some other message')
      }
    }
  }
</script>
