<template>
  <q-page>
    <q-modal-layout>
      <q-toolbar slot="header">
        <q-btn
            flat
            round
            dense
            icon="keyboard_arrow_left"
            @click="close()"
        />
        <q-toolbar-title>
          Incluir Horários
        </q-toolbar-title>
      </q-toolbar>
      <div>
        <q-tabs @select="changeTab" align="justify" v-model="tabsModel" glossy>
          <q-tab default slot="title" name="tab-1" icon="import_contacts" label="Matéria"/>
          <q-tab slot="title" name="tab-2" icon="group" label="Grupo de Estudos"/>
        </q-tabs>
        <div class="layout-padding">
          <div class="row">
            <div class="col-12">
              <q-select
                  v-if="tabsModel === 'tab-1'"
                  float-label="Matérias"
                  :value="editedItem.subject_id"
                  :options="subjects"
                  @change="changeSubject"
              />
              <q-select
                  v-else
                  float-label="Grupos de Estudo"
                  :value="editedItem.group_id"
                  @change="changeGroup"
                  :options="groups"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <q-input v-model="editedItem.id_value" float-label="Nome"/>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-lg-4">
              <q-datetime
                  type="datetime" :value="editedItem.begin" format="DD/MM/YYYY HH:mm"
                  @change="val => { editedItem.begin = dateFormat(val)}"/>
              <!--v-model="editedItem.begin" format="DD/MM/YYYY HH:mm" type="datetime"/>-->
            </div>
            <div class="col-xs-12 col-lg-4">
              <q-datetime
                  type="datetime" :value="editedItem.end" format="DD/MM/YYYY HH:mm"
                  @change="val => { editedItem.end = dateFormat(val)}"/>
            </div>
            <div class="col-xs-12 col-lg-4">
              <q-input readonly :value="duration"/>
            </div>
            <!--<div class="col-xs-12 col-lg-6">-->
            <!--<q-datetime v-model="editedItem.end" format="DD/MM/YYYY HH:mm" type="datetime"/>-->
            <!--</div>-->
          </div>

          <div class="row">
            <div class="col-12">
              <q-input v-model="editedItem.description" float-label="Descrição" type="textarea"/>
            </div>
          </div>

          <div class="row">
            <div class="col-auto">
              <q-btn label="Salvar" color="blue" @click="save()"/>
            </div>
            <div class="col-auto">
              <q-btn label="Cancelar" color="red" @click="close()"/>
            </div>
          </div>
        </div>
      </div>
    </q-modal-layout>
  </q-page>
</template>

<script>
  import crud from './../mixin/crud'
  import moment from 'moment'
  import momentDurationFormatSetup from 'moment-duration-format'

  momentDurationFormatSetup(moment)

  export default {
    name: 'PSCalendarModalInsert',
    mixins: [crud],
    props: ['value', 'begin', 'end'],
    data() {
      return {
        resData: [],
        tabsModel: 'tab-1',
        entity: 'horaries',
        model: 0,
        items: [],
        subjects: [],
        groups: [],
        dialog: false,
        editedItem: {begin: '', end: '', id_value: '', description: ''},
        defaultItem: {begin: '', end: '', id_value: '', description: ''}
      }
    },
    created() {
      if (navigator.onLine) {
        this.$axios.get('/subjects').then((res) => {
          this.subjects = res.data.map(opt => ({label: opt.id_value, value: opt.id}))
        })
        this.$axios.get('/groups').then((res) => {
          this.groups = res.data.map(opt => ({label: opt.id_value, value: opt.id}))
        })
      } else {
        let subjects = JSON.parse(localStorage.getItem('subjects') || '[]')
        let groups = JSON.parse(localStorage.getItem('groups') || '[]')
        this.subjects = subjects.map(opt => ({label: opt.id_value, value: opt.id}))
        this.groups = groups.map(opt => ({label: opt.id_value, value: opt.id}))
      }
      // this.items = this.value
    },
    methods: {
      save() {
        if ((this.tabsModel === 'tab-1') && (this.editedItem.subject_id === '')) {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'O campo "Matérias" é obrigatório',
            icon: 'report_problem'
          })
          return
        }
        if ((this.tabsModel === 'tab-2') && (this.editedItem.group_id === '')) {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'O campo "Grupo de Estudo" é obrigatório',
            icon: 'report_problem'
          })
          return
        }
        if (this.editedItem.id_value === '') {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'O campo "Nome" é obrigatório',
            icon: 'report_problem'
          })
          return
        }
        if (this.editedItem.begin >= this.editedItem.end) {
          this.$q.notify({
            color: 'orange',
            position: 'top',
            message: 'A data "Fim" deve ser maior que a data "Início"',
            icon: 'report_problem'
          })
          return
        }
        if (navigator.onLine) {
          this.$axios.post(`horaries`, this.editedItem).then((res) => {
            this.$emit('pushEvent', res.data)
            this.close()
          })
        } else {
          let id = (parseInt(localStorage.getItem('ids') || 1000000)) + 1;
          this.editedItem['id'] = id
          localStorage.setItem('ids', id);
          this.reloadLocalStorage()
          this.insertOfflineItem(this.entity, 'create')
          this.$emit('pushEvent', this.editedItem)
          this.close()
        }
      },
      changeTab(values) {
        Object.assign(this.editedItem, {id_value: '', description: '', subject_id: '', group_id: ''})
      },
      calendarClick(values) {
        Object.assign(this.editedItem, JSON.parse(JSON.stringify(values)))
      },
      close() {
        this.$emit('close')
        this.editedItem = Object.assign(JSON.parse(JSON.stringify(this.defaultItem)), {})
      },
      dateFormat(val) {
        return moment(val).format('YYYY-MM-DD HH:mm')
      },
      changeSubject(val) {
        //entity também controla o localStorage
        this.entity = 'horaries'
        this.editedItem.subject_id = val
        this.editedItem.group_id = null
        let selectedSubject = this.subjects.filter((subject) => {
          return subject.value === val
        })
        this.editedItem.subject = selectedSubject
        this.editedItem.id_value = (selectedSubject.length > 0) ? selectedSubject[0].label : ''
      },
      changeGroup(val) {
        this.entity = 'groups'
        this.editedItem.group_id = val
        this.editedItem.subject_id = null
        let selectedGroup = this.groups.filter((subject) => {
          return subject.value === val
        })
        this.editedItem.group = selectedGroup
        this.editedItem.id_value = (selectedGroup.length > 0) ? selectedGroup[0].label : ''
      }
    },
    computed: {
      duration: function () {
        return moment.duration(moment(this.editedItem.end).diff(this.editedItem.begin)).format('hh [hrs] mm [min]')
      }
    }
  }
</script>

<style>
</style>