<template>
  <q-page padding>

    <q-chat-message
      v-for="(message, i) in messages" :key="i"
      :name="message.user.name"
      :text="[message.id_value]"
      :sent="message.user_id === $auth.user().id"
    />
    <q-input :disable="!verifyNavigation"
      v-model="editedItem.id_value"
      v-on:keyup.enter="send"
      type="textarea"
      float-label="Enter your message"
      :min-rows="1"
    />
  </q-page>
</template>

<script>

  export default {
    name: 'PSChat',
    props: {group_id: {}},
    data () {
      return {
        entity: 'group_chat',
        messages: [],
        editedItem: {},
        chatInterval: ''
      }
    },
    mounted () {
      this.editedItem = {user_id: '', group_id: this.group_id}
      this.defaultItem = {user_id: '', group_id: this.group_id}
      this.chatInterval = setInterval(() => {
        this.$axios.get(`${this.entity}?where=group_id=${this.group_id}`).then((res) => {
          this.messages = res.data
        })
      }, 1000)
    },
    methods: {
      send () {
        console.log(this.editedItem.id_value)
        if (this.editedItem.id_value) {
          this.$axios.post(this.entity, this.editedItem).then((res) => {
            this.editedItem.id_value = ''
          })
        }
      },
      afterDelete (val) {
      }
    },
    destroyed () {
      clearInterval(this.chatInterval)
    },
    computed: {
      verifyNavigation: function () {
        return navigator.onLine
      }
    }
  }
</script>

<style>
</style>