<template>
  <div class="row">
    <div class="col-12">
      <q-btn :disabled="!verifyNavigation" label="+ Conteúdo" @click="create"/>
    </div>
    <div class="col-12">
      <q-list highlight inset-separator>
        <q-item v-for="item in items" multiline>
          <q-item-side>
            <q-checkbox v-model="item.done" :true-value="1" :false-value="0"/>
          </q-item-side>
          <q-item-main
              :label="item.id_value"
              label-lines="1"
              :sublabel="item.description"
              sublabel-lines="2"
          />
          <q-item-side right>
            <ps-btn-edit-delete :disabled="!verifyNavigation" icon="edit" @click="editItem(item)"></ps-btn-edit-delete>
            <ps-btn-edit-delete :disabled="!verifyNavigation" icon="delete" @click="deleteItem(item, false)"></ps-btn-edit-delete>
          </q-item-side>
        </q-item>
      </q-list>
    </div>
    <q-modal v-model="dialog" :content-css="{minWidth: '80vw', minHeight: '80vh'}">
      <q-modal-layout>
        <q-toolbar slot="header">
          <q-btn
              flat
              round
              dense
              icon="keyboard_arrow_left"
              @click="dialog=false"
          />
          <q-toolbar-title>
            Incluir Conteúdo
          </q-toolbar-title>
        </q-toolbar>
        <div class="layout-padding">
          <div class="col-11">
            <q-input v-model="editedItem.id_value" class="no-margin" float-label="Nome"/>
          </div>
          <div class="col-11">
            <q-input v-model="editedItem.description" class="no-margin" float-label="Descrição"/>
          </div>
          <div>
            <q-item-side>
              <q-checkbox v-model="editedItem.done" label="Concluído"/>
            </q-item-side>
          </div>
          <div>
            <!--<q-uploader multiple hide-upload-button hide-upload-progress auto-expand/>-->
          </div>
          <div class="row">
            <div class="col-auto">
              <q-btn label="Salvar" color="blue" @click="save(null, false)"/>
            </div>
            <div class="col-auto">
              <q-btn label="Cancelar" color="red" @click="dialog=false"/>
            </div>
          </div>
        </div>
      </q-modal-layout>
    </q-modal>
  </div>
</template>

<script>
  import crud from './../mixin/crud'
  import PsBtnEditDelete from '../components/shared/PSBtnEditDelete'

  export default {
    name: 'pscontent',
    mixins: [crud],
    components: {PsBtnEditDelete},
    props: {
      value: {
        type: Array
      },
      connectionTable: {
        type: String,
        default: ''
      },
      disableOfflineAction: {
        type: Boolean,
        default: false
      },
      fieldFather: {
        type: String,
        default: ''
      },
      idFather: {default: ''}
    },
    data() {
      return {
        entity: 'contents'
      }
    },
    mounted: function () {
      this.editedItem = {id_value: '', description: '', done: false}
      this.defaultItem = {id_value: '', description: '', done: false}
      this.items = this.value || []
    },
    methods: {
      beforeInsert(val) {
        console.log(this.fieldFather.type)
        if (this.editedItem.id_value === '') {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'O campo "Nome" é obrigatório',
            icon: 'report_problem'
          })
          return false
        }
        if (this.connectionTable === '') {
          this.editedItem.done = this.editedItem.done ? 1 : 0
          this.items.push(JSON.parse(JSON.stringify(val)))
          this.$emit('input', this.items)
          return false
        }
        // incluir o campo de ligação subject_id ou group_id
        let connectionValues = '{"' + this.fieldFather + '":"' + this.idFather + '"}'
        Object.assign(this.editedItem, JSON.parse(connectionValues))
        return true
      },
      afterInsert(val) {
        this.$emit('input', this.items)
        let connectionValues = '{"' + this.fieldFather + '":"' + this.idFather + '", "content_id":"' + val.id + '"}'
        // Salva no banco a ligação do conteudo com a outra tabela
        this.$axios.post(this.connectionTable, JSON.parse(connectionValues))
      },
      beforeUpdate(val) {
        let index = this.editedIndex
        if (this.connectionTable === '') {
          Object.assign(this.items[index], JSON.parse(JSON.stringify(val)))
          this.$emit('input', this.items)
          return false
        } else {
          return true
        }
      },
      afterUpdate(val) {
        this.$emit('input', this.items)
      },
      afterDelete(val) {
        this.$emit('input', this.items)
      }
    },
    computed: {
      verifyNavigation: function () {
        return !this.disableOfflineAction || navigator.onLine
      }
    }
  }
</script>

<style>
</style>