<template>
  <q-tabs class="shadow-up-5" animated swipeable align="justify">
    <q-tab default slot="title" name="tab-1" icon="chat" label="Chat"/>
    <q-tab slot="title" name="tab-2" icon="chrome_reader_mode" label="Conteúdos"/>
    <q-tab slot="title" name="tab-3" icon="date_range" label="Horários"/>
    <q-tab-pane name="tab-1">
      <ps-chat :group_id="item.id"></ps-chat>
    </q-tab-pane>
    <q-tab-pane name="tab-2">
      <ps-content v-model="item.contents"
                  :idFather="item.id"
                  :disableOfflineAction="true"
                  connectionTable="content_group"
                  fieldFather="group_id"
      ></ps-content>
    </q-tab-pane>
    <q-tab-pane name="tab-3">
      <ps-horary v-model="item.horaries"
                 :idFather="item.id"
                 fieldFather="group_id"
      ></ps-horary>
    </q-tab-pane>
  </q-tabs>
</template>

<script>
  import PsChat from './../components/PSChat'
  import PsContent from './../components/PSContent'
  import PsHorary from './../components/PSHorary'
  import moment from 'moment'
  import momentDurationFormatSetup from 'moment-duration-format'

  momentDurationFormatSetup(moment)

  export default {
    name: 'PSGroupShow',
    props: {
      item: {
        type: Object
      }
    },
    components: {PsContent, PsHorary, PsChat},
    data() {
      return {
        header: true
      }
    },
    created() {
    },
    methods: {
      toggleHeader() {
        this.state = !this.state
      },
    }
  }
</script>

<style>
</style>