<template>
  <div class="row">
    <div class="col-12">
      <q-btn :disabled="!verifyNavigation" label="+ Horário" @click="create"/>
    </div>
    <div class="col-12">
      <q-list highlight inset-separator>
        <q-item v-for="item in items" multiline>
          <q-item-main :label="item.id_value + ': '+ (item.description || '')"
                       label-lines="1"
                       :sublabel="item.begin + ' - ' + item.end"
                       sublabel-lines="2"/>
          <q-item-side right>
            <q-btn :disabled="!verifyNavigation" :loading="loading" v-if="item.participate" round size="sm"
                   color="orange" @click="leaveHorary(item)">
              <q-icon name="alarm_off"/>
              <q-tooltip> Desabilitar horário</q-tooltip>
            </q-btn>
            <q-btn :disabled="!verifyNavigation" :loading="loading" v-else round size="sm" color="green"
                   @click="enterHorary(item)">
              <q-icon name="alarm_add"/>
              <q-tooltip> Habilitar horário</q-tooltip>
            </q-btn>
            <ps-btn-edit-delete :disabled="!verifyNavigation" icon="edit" @click="editItem(item)"></ps-btn-edit-delete>
            <ps-btn-edit-delete :disabled="!verifyNavigation" icon="delete"
                                @click="deleteItem(item)"></ps-btn-edit-delete>
          </q-item-side>
        </q-item>
      </q-list>
    </div>
    <q-modal v-model="dialog" :content-css="{minWidth: '80vw', minHeight: '80vh'}">
      <q-modal-layout>
        <q-toolbar slot="header">
          <q-btn
              flat
              round
              dense
              icon="keyboard_arrow_left"
              @click="dialog=false"
          />
          <q-toolbar-title>
            Incluir Horário
          </q-toolbar-title>
        </q-toolbar>

        <div class="layout-padding">
          <div class="row">
            <div class="col-12">
              <q-input v-model="editedItem.id_value" float-label="Nome"/>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-lg-4">
              <q-datetime float-label="Início"
                          type="datetime"
                          :value="editedItem.begin"
                          format="DD/MM/YYYY HH:mm"
                          @change="val => { editedItem.begin = dateFormat(val)}"/>
              <!--v-model="editedItem.begin" format="DD/MM/YYYY HH:mm" type="datetime"/>-->
            </div>
            <div class="col-xs-12 col-lg-4">
              <q-datetime float-label="Fim"
                          type="datetime"
                          :value="editedItem.end"
                          format="DD/MM/YYYY HH:mm"
                          @change="val => { editedItem.end = dateFormat(val)}"/>
            </div>
            <div class="col-xs-12 col-lg-4">
              <q-input float-label="Duração"
                       readonly
                       :value="duration"/>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <q-input v-model="editedItem.description" float-label="Descrição" type="textarea"/>
            </div>
          </div>
          <div class="row">
            <div class="col-auto">
              <q-btn label="Salvar" color="blue" @click="save()"/>
            </div>
            <div class="col-auto">
              <q-btn label="Cancelar" color="red" @click="close()"/>
            </div>
          </div>
        </div>
      </q-modal-layout>
    </q-modal>
  </div>
</template>

<script>
  import moment from 'moment'
  import momentDurationFormatSetup from 'moment-duration-format'
  import crud from './../mixin/crud'
  import PsBtnEditDelete from '../components/shared/PSBtnEditDelete'
  import {Loading, QSpinnerGears} from 'quasar'

  momentDurationFormatSetup(moment)
  export default {
    name: 'pshorary',
    mixins: [crud],
    components: {PsBtnEditDelete},
    props: {
      value: {
        type: Array
      },
      fieldFather: {
        type: String,
        default: ''
      },
      idFather: {default: ''}
    },
    data() {
      return {
        entity: 'horaries',
        loading: false
      }
    },
    mounted: function () {
      this.editedItem = {
        id_value: '',
        description: '',
        begin: moment().format('YYYY-MM-DD HH:mm'),
        end: moment().format('YYYY-MM-DD HH:mm')
      }
      this.defaultItem = {
        id_value: '',
        description: '',
        begin: moment().format('YYYY-MM-DD HH:mm'),
        end: moment().format('YYYY-MM-DD HH:mm')
      }

      Object.assign(this.items, JSON.parse(JSON.stringify(this.value || [])))
    },
    methods: {
      beforeInsert(val) {
        if (this.editedItem.id_value === '') {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'O campo "Nome" é obrigatório',
            icon: 'report_problem'
          })
          return false
        }
        if (this.editedItem.begin >= this.editedItem.end) {
          this.$q.notify({
            color: 'orange',
            position: 'top',
            message: 'A data "Fim" deve ser maior que a data "Início"',
            icon: 'report_problem'
          })
          return false
        }
        if (this.fieldFather === '') {
          this.items.push(JSON.parse(JSON.stringify(val)))
          this.$emit('input', this.items)
          return false
        }
        // incluir o campo de ligação subject_id ou group_id
        let connectionValues = '{"' + this.fieldFather + '":"' + this.idFather + '"}'
        Object.assign(this.editedItem, JSON.parse(connectionValues))
        return true

      },
      afterInsert(val) {
        this.$emit('input', this.items)
      },
      beforeUpdate(val) {
        let index = this.editedIndex

        if (this.fieldFather === '') {
          Object.assign(this.items[index], JSON.parse(JSON.stringify(val)))
          this.$emit('input', this.items)
          return false
        } else {
          return true
        }
      },
      afterUpdate(val) {
        this.$emit('input', this.items)
      },
      afterDelete(val) {
        this.$emit('input', this.items)
      },
      dateFormat(val) {
        return moment(val).format('YYYY-MM-DD HH:mm')
      },
      enterHorary(val) {
        // this.items.find(res => {return res.id === val.id}).participate = true
        this.loading = true
        let horary_user = {horary_id: val.id}
        this.$axios.post('horary_user', horary_user).then((res) => {
          console.log(res)
          val.participate = res.data.id
          // Dialo usado pois quando entra ou sai do horário a lista de registros não atualiza, apenas quando tira e poe novamente
          this.dialog = true
          this.dialog = false
          this.loading = false
        })
      },
      leaveHorary(val) {
        this.loading = true
        this.$axios.delete(`horary_user/${val.participate}`).then(() => {
            this.items.find(res => {
              return res.id === val.id
            }).participate = false
            this.dialog = true
            this.dialog = false
            this.loading = false
          }
        )
      },
    },
    computed: {
      duration: function () {
        return moment.duration(moment(this.editedItem.end).diff(this.editedItem.begin)).format('hh [hrs] mm [min]')
      },
      verifyNavigation: function () {
        return navigator.onLine
      }
    }
  }
</script>

<style>
</style>