<template>
  <div class="fixed fixed-center bg-grey-1 text-white">
    <form>
      <q-tabs animated swipeable align="justify" glossy>
        <q-tab default name="login" slot="title" icon="" label="Login"/>
        <q-tab name="register" slot="title" icon="" label="Registrar"/>
        <q-tab-pane name="login">
          <q-card square class="flex-center text-center" style="width: 400px; padding:50px">
            <img src="/statics/quasar-logo.png" style='max-width:300px; padding-top:30px; padding-bottom:50px'>
            <q-card-separator/>
            <div class="text-left" @keyup.enter="loginClick">
              <q-input id="email" type="text" v-model.trim="login.email" float-label="Email" required autofocus/>
              <q-input id="password" type="password" v-model="login.password" float-label="Senha" required/>
              <br>
            </div>
            <q-card-actions>
              <q-btn class="fit" color="primary" @click="loginClick">Login</q-btn>
            </q-card-actions>
          </q-card>
        </q-tab-pane>
        <q-tab-pane name="register">
          <q-card square class="flex-center text-center" style="width: 400px; padding:50px">
            <img src="/statics/quasar-logo.png" style='max-width:300px; padding-top:30px; padding-bottom:50px'>
            <q-card-separator/>
            <div class="text-left" @keyup.enter="registerClick">
              <q-input id="name" type="text" v-model.trim="register.name" float-label="Nome" required autofocus/>
              <q-input id="email" type="text" v-model.trim="register.email" float-label="Email" required/>
              <q-input id="password" type="password" v-model="register.password" float-label="Senha" required/>
              <!--<q-input id="password" type="password" v-model="register.password" float-label="Senha" required/>-->
              <br>
            </div>
            <q-card-actions>
              <q-btn class="fit" color="primary" @click="registerClick">Registrar</q-btn>
            </q-card-actions>
          </q-card>
        </q-tab-pane>
      </q-tabs>
    </form>
  </div>
</template>

<style>
</style>

<script>
  export default {
    data() {
      return {
        drawerState: true,
        rememberMe: true,
        login: {
          email: '',
          password: ''
        },
        register: {
          name: '',
          email: '',
          password: ''
        }
      }
    },
    methods: {
      loginClick() {
        if ((this.login.email === '') || (this.login.password === '')) {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'Os campos Email e Senha devem ser preenchidos',
            icon: 'report_problem'
          })
          return;
        }
        this.$auth.login({
          fetchUser: true,
          data: this.login,
          redirect: '/calendar',
          rememberMe: this.rememberMe
        }).then(response => {
          // this.$auth.watch.data = {}; // user object
          // const token = this.$auth.token()
          this.$auth.token(null, response.data.access_token)
          // localStorage.setItem('default-auth-token', response.data.access_token)
          let user = Object.assign(response.data.user, {password: this.login.password})
          localStorage.setItem('user', JSON.stringify(user));
          this.$auth.user(response.data.user)

          this.$router.push('/calendar')
        }, (res) => {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'Email/Senha incorretos',
            icon: 'report_problem'
          })
        })
      },
      registerClick() {
        if (this.register.name === '') {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'O campo "Nome" deve ser preenchido',
            icon: 'report_problem'
          })
          return;
        }
        if (this.register.email === '') {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'O campo "Email" deve ser preenchido',
            icon: 'report_problem'
          })
          return;
        }
        if (this.register.password === '') {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'O campo Senha deve ser preenchido',
            icon: 'report_problem'
          })
          return;
        }
        this.$auth.register({
          data: this.register,
          rememberMe: true,
          success: function (res) {
            console.log(res)
            redirect: '/calendar'
          }
        }).then(response => {
          this.$auth.token(null, response.data.token)
          this.$auth.user(response.data.user)
          this.$router.push('/calendar')
        }, (res) => {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'Registro de Email já existente',
            icon: 'report_problem'
          })
          // console.log('Res: ', res)
        })
      }
    }
  }
</script>
