<template>
  <card>
    <slot slot="header">
      <v-toolbar-title>
        <v-icon>person</v-icon>
        Bem Vindo
      </v-toolbar-title>
    </slot>

    <slot slot="body">
      <v-form>
        <v-container grid-list-lg fluid>
          <v-layout row justify-center align-center wrap>
            <v-flex xs12>
              <v-text-field required prepend-icon="person" name="name" label="Nome" type="text" autofocus
                            v-model="user.id_text"
                            required/>
              <!--:error-messages="errors.collect('name')"-->
              <!--data-vv-validate-on="blur"-->
              <!--v-validate="'required'"-->
              <!--data-vv-as="Nome"-->
            </v-flex>
            <v-flex xs12>
              <v-text-field required prepend-icon="mail" name="mail" label="E-mail" type="text"
                            v-model="user.email"
                            required/>
              <!--:error-messages="errors.collect('mail')"-->
              <!--data-vv-validate-on="blur"-->
              <!--v-validate="'required|email'"-->
              <!--data-vv-as="E-mail"-->
              <!--data-vv-delay="1000"-->
            </v-flex>
            <v-flex xs12 sm6>
              <v-text-field required prepend-icon="lock" name="password" label="Senha" id="password"
                            type="password" v-model="user.password"
                            required/>
              <!--:error-messages="errors.collect('password')"-->
              <!--data-vv-validate-on="blur"-->
              <!--v-validate="'required|min:6'"-->
              <!--data-vv-as="Senha"-->
            </v-flex>
            <v-flex xs12 sm6>
              <v-text-field prepend-icon="check" name="confirmation" label="Confirmação" id="confirmation"
                            required/>
              type="password" v-model="user.confirmation"
              <!--:error-messages="errors.collect('confirmation')"-->
              <!--data-vv-validate-on="blur"-->
              <!--v-validate="'required|confirmed:password|min:6'"-->
              <!--data-vv-as="Confirmação"-->
            </v-flex>
            <v-flex xs12>
              <v-text-field prepend-icon="check" name="codigo" label="Código" id="codigo"
                            type="password" v-model="codigo"
                            required/>
              <!--:error-messages="errors.collect('codigo')"-->
              <!--data-vv-validate-on="blur"-->
              <!--v-validate="'required'"-->
              <!--data-vv-as="Código"-->
            </v-flex>
            <v-flex xs12 class="text-xs-center">
              <v-snackbar :top="true" :right="true" :timeout="6000" v-model="snackbar.active"
                          color="success">
                {{ snackbar.text }}
                <v-btn flat @click.native="snackbar = false">Close</v-btn>
              </v-snackbar>
              <v-btn dark class="gradient" @click="register()">Registrar</v-btn>
              <v-btn flat href="#/">Voltar</v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-form>
    </slot>
  </card>
</template>

<style scoped>
  .gradient {
    background: linear-gradient(40deg, #4a97ce, #5fbf8d);
  }
</style>

<script>
  import Card from '../../components/Card'
  // import { Validator } from 'vee-validate'

  export default {
    components: {Card},
    data: () => ({
      codigo: '',
      user: {
        id_text: '',
        email: '',
        password: '',
        confirmation: ''
      },
      snackbar: {
        active: false,
        text: 'Solicitação realizada com sucesso'
      }
    }),
    props: {
      source: String
    },
    created () {
      // Validator.extend('verify_email', {
      //   getMessage: field => `The ${field} is already registered.`,
      //   validate: value => new Promise((resolve) => {
      //     this.$http.get(`auth/check_user`, {params: {email: value}}).then(res => {
      //       resolve({
      //         valid: res.body.length === 0
      //       })
      //     })
      //   })
      // })
    },
    methods: {
      register: function () {
        if (this.codigo !== 'codigoillissolucoes123') {
          alert('Código errado!')
          return 0
        }
        // this.$validator.validateAll().then((result) => {
        //   if (result) {
        //     this.snackbar.active = true
        //     this.$auth.register({
        //       body: this.user,
        //       autoLogin: true,
        //       rememberMe: true,
        //       redirect: '/home'
        //     })
        //   }
        // })
      }
    }
  }
</script>
