<template>
  <div class="schedule">
    <div class="time-ground">
      <ul>
        <li v-for="time in pageTimeGround"
        >
            <!--@dragover.prevent="" @drop.stop="testando(time)"-->
          <span>{{time}}</span>
          <p :style="timeListSty"></p>
        </li>
      </ul>
    </div>
    <div class="task-ground">
      <ul>
        <li v-for="(week, index) in weekGround" class="task-list">
          <p>{{week}}</p>
          <ul :style="taskListSty">
            <li :draggable="true" class="task-list-item" v-for="detail in taskDetail[index]"
                :style="detail.styleObj" @click="showDetail(detail, week)">
              <p>{{detail.dateStart}} - {{detail.dateEnd}}</p>
              <h3>{{detail.title}}</h3>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <modal :show="showModal" :show-modal-detail="showModalDetail"></modal>
  </div>
</template>

<style scoped>
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, main {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  body {
    font-size: 1.6rem;
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    color: #222222;
    background-color: white;
  }
  .github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

  .tit{
    text-align: center;
    font-size: 4rem;
    margin-top: 4rem;
  }
  .auther{
    font-size: 2rem;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    color: #95a5a6;
  }

  .schedule {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
  }

  .time-ground {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .time-ground ul li {
    /*margin-top: 50px;*/
    font-size: 1rem;
    height: 50px;
  }

  .time-ground ul li span {
    position: absolute;
    left: -60px;
    transform: translateY(-50%);
  }

  .time-ground ul li p {
    position: absolute;
    left: 0;

    height: 1px;
    background-color: #EAEAEA;
  }

  .task-ground {
    width: 100%;
  }

  .task-list {
    float: left;
    width: 20%;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
  }

  .task-list p {
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
  }

  .task-list-item {
    position: absolute;
    background-color: #577F92;
    width: 20%;
    height: 50px;
    cursor: pointer;
  }

  .task-list-item p {
    text-align: left;
    padding: 0;
    margin: 1rem 0 0 1rem;
    font-size: 0.8rem;
    color: #EDF2F6;
  }

  .task-list-item h3 {
    color: #E0E7E9;
    margin: 1rem 0 0 1rem;
  }
</style>

<script>
  import Modal from './Modal.vue'

  export default {
    name: 'Schedule',
    props: {
      timeGround: {
        type: Array,
        default: []
      },
      weekGround: {
        type: Array,
        default: [
          'Monday',
          'Tuesday',
          'Wednesday',
          'Thursday',
          'Friday'
        ]
      },
      taskDetail: {
        type: Array,
        default: []
      },
      color: {
        type: Array,
        default () {
          return [
            '#2B2E4A',
            '#521262',
            '#903749',
            '#53354A',
            '#40514E',
            '#537780'
          ]
        }
      }
    },
    components: {
      Modal: Modal
    },
    // watch: {
    // 	timeGround: function(value){
    // 		this.timeGround = value
    // 	}
    // },
    watch: {
      timeGround (value) {

        // console.log('value=', value);
        this.pageTimeGround = this.initTimeGroud(value)
        // return value;
      }
    },
    data () {
      return {
        pageTimeGround: [],
        showModal: false,
        showModalDetail: {
          dateStart: '09:30',
          dateEnd: '10:30',
          title: 'Metting',
          week: 'Monday',
          styleObj: {
            backgroundColor: '#903749'
          },
          detail: 'Metting (German: Mettingen) is a commune in the Moselle department in Grand Est in north-eastern France.'
        },
        taskListSty: {
          height: '900px'
        },
        timeListSty: {
          width: '100%'
        }
      }
    },
    created () {
      this.createdFunction()
    },
    mounted () {
      this.taskListSty.height = (this.pageTimeGround.length - 1) * 100 + 'px'
      this.timeListSty.width = this.weekGround.length * 20 + '%'

      // console.log(this.taskDetail);
      // console.log(this.weekGround);
    },
    methods: {
      allowDrop (ev) {
        ev.preventDefault()
      },
      teste () {
        alert(123)
      },
      testando (time) {
        alert(timez)
      },
      createdFunction (obj, week) {
        // console.log(this.ta)
        this.pageTimeGround = this.initTimeGroud(this.timeGround)
        let maxTime = this.pageTimeGround[this.pageTimeGround.length - 1]
        let minTime = this.pageTimeGround[0]
        let maxMin = maxTime.split(':')[0] * 60 + maxTime.split(':')[1] * 1
        let minMin = minTime.split(':')[0] * 60 + minTime.split(':')[1] * 1
        // console.log(maxMin);
        // console.log(minMin);
        // console.log(maxTime);
        for (let i = 0; i < this.taskDetail.length; i++) {
          for (let j = 0; j < this.taskDetail[i].length; j++) {
            // console.log(this.taskDetail[i][j]);
            let startMin = this.taskDetail[i][j].dateStart.split(':')[0] * 60 + this.taskDetail[i][j].dateStart.split(':')[1] * 1
            let endMin = this.taskDetail[i][j].dateEnd.split(':')[0] * 60 + this.taskDetail[i][j].dateEnd.split(':')[1] * 1
            if (startMin < minMin || endMin > maxMin) {
              this.taskDetail[i].splice(j, 1)
              j--
              continue
            }

            // console.log(endMin);
            let difMin = endMin - startMin
            // console.log(startMin);
            // console.log(endMin);
            this.taskDetail[i][j].styleObj = {
              height: difMin * 100 / 60 + 'px',
              top: ((startMin - (this.pageTimeGround[0].split(':')[0] * 60 + this.pageTimeGround[0].split(':')[1] * 1)) * 100 / 60) + 50 + 'px',
              backgroundColor: this.color[~~(Math.random() * this.color.length)]
            }
            // console.log(this.color[~~(Math.random() * 4)]);
            // console.log(this.taskDetail);
            // console.log(this.timeGround);
          }
        }
        console.log(this.taskDetail)
      },
      showDetail (obj, week) {
        alert(click)
        this.createdFunction()
        // obj.week = week;
        // this.showModalDetail = obj;
        // this.showModal = !this.showModal;
      },
      initTimeGroud (value) {
        // if (value && value.length == 2) {
        //   let startTime = value[0].split(':')[0] * 1
        //   let endTime = value[1].split(':')[0] * 1
        //   value = []
        //   for (let i = startTime; i <= endTime; i++) {
        //     // console.log(1);
        //     // value.push()
        //     let hour = i < 10 ? '0' + i : '' + i
        //     value.push(hour + ':00')
        //   }
        // } else {
          value = [
            '09:00',
            '09:00',
            '09:30',
            '10:00',
            '10:30',
            '11:00',
            '11:30',
            '12:00',
            '12:30',
            '13:00',
            '13:30',
            '14:00',
            '14:30',
            '15:00',
            '15:30',
            '16:00',
            '16:30',
            '17:00',
            '17:30',
            '18:00',
            '18:30'
          ]
        // }
        return value
      }
    }
  }
</script>