<template>
  <q-btn round color="primary" @click="item" class="fixed" icon="add" style="right: 18px; bottom: 18px">
    <q-tooltip anchor="top right" self="bottom right"> {{label}} </q-tooltip>
  </q-btn>
</template>

<script>

  export default {
    name: 'PSBtnAdd',
    props: {label: {}},
    // Variaveis globais, para usar coloque this. antes
    data () {
      return {

      }
    },
    // Quando Criad
    mounted () {


    },
    // Funções
    methods: {
      item () {
        this.$emit('click')
      }
    }
  }
</script>

<style>
</style>