<template>

  <q-btn round size="sm" :color="((icon==='edit')?'secondary':'red')" @click="editItem">
    <q-icon :name="icon"/>
    <q-tooltip> {{(icon==='edit')?'Editar':'Excluir'}} </q-tooltip>
  </q-btn>
</template>

<script>

  export default {
    name: 'PSBtnEditDelete',
    props: {icon: {}},
    // Variaveis globais, para usar coloque this. antes
    data () {
      return {

      }
    },
    // Quando Criad
    mounted () {


    },
    // Funções
    methods: {
      editItem () {
        this.$emit('click')
      }
    }
  }
</script>

<style>
</style>